* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #fcde9c;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-red: #6b0f1a;
  --color-grey: #cacec6;
}

body {
  background: var(--color-white);
}

nav {
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  background: var(--color-red);
  z-index: 10;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

li {
  float: left;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 3rem 2.1rem;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.15rem;
}

.header-img {
  width: 75px;
  height: 75px;
  margin: 1.2rem auto;
}

.main {
  padding-top: 7.5rem;
  margin: 1rem auto;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 92%;
  text-align: center;
}

.section-link {
  color: black;
  font-size: 1.8rem;
  text-decoration: underline;
}

.description {
  background: var(--color-bg);
  padding: 2rem 0;
  margin-top: -1.5rem;
}

.menu {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  max-width: 100%;
}

.menu-img {
  display: block;
  width: 80%;
  height: 250px;
  object-fit: cover;
  padding-top: 1rem;
  margin: auto;
}

.menu-item {
  text-align: center;
}

.item-price {
  padding-left: 3rem;
}

p {
  font-size: 1.1rem;
  font-weight: bold;
}

.order-button {
  background: var(--color-red);
  color: var(--color-grey);
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  width: 60%;
  margin: 2rem auto;
  padding: 0.5rem;
  transition: 0.5s linear;
}

.order-button:hover {
  background: var(--color-bg);
  color: var(--color-red);
}

.about-section {
  background: var(--color-bg);
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.product-video {
  margin-top: 1.2rem;
}

iframe {
  border: none;
}

.contact-form {
  background: var(--color-white);
  padding-top: 1.5rem;
  font-weight: bold;
}

#feedback {
  display: block;
  margin: 0.5rem auto;
}

#email {
  margin-left: 0.5rem;
}

#submit {
  display: block;
  margin: 0.7rem auto;
  width: 33%;
}

@media screen and (min-width: 700px) {
  nav {
    padding-left: 10rem;
  }

  .menu {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: nowrap;
    max-width: 90%;
  }

  .menu-img {
    width: 500px;
    margin-top: -1rem;
  }

  .order-button {
    width: 30%;
  }
}
